*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
  color: #392f2f;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, [nav-start] 10rem [nav-end]) repeat(8, [cont-start] 10rem [cont-end]);
  grid-template-rows: min-content;
}

.sidebar {
  height: 100vh;
  font-family: "Lato", sans-serif;
  grid-column: nav-start 1/nav-end 4;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar img {
  width: 15rem;
  border-radius: 50%;
  border: 3px solid #cb3737;
  margin-bottom: 5rem;
}
.sidebar .menu {
  list-style: none;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.sidebar .menu__item:not(:last-child) {
  margin-bottom: 2rem;
}
.sidebar .menu__link:link, .sidebar .menu__link:visited {
  text-decoration: none;
  color: #392f2f;
}
.sidebar .menu__link:hover, .sidebar .menu__link:active {
  color: #cb3737;
}

.content {
  grid-column: cont-start 1/-1;
  display: grid;
  grid-template-rows: repeat(4, 100vh);
  font-family: "Inconsolata", monospace;
}
.content .page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}
.content .page__title {
  align-self: flex-end;
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 4rem;
}
.content .page__title--red {
  color: #cb3737;
}

.card {
  width: 80rem;
  height: 75%;
  background-color: #f0f0f0;
  border-radius: 5px;
  border-bottom: solid 3px #cb3737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1.5;
}
.card__text {
  width: 75%;
}
.card--skills {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 2.5rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.card--skills .card__title {
  grid-column: 1/-1;
  font-weight: 400;
}
.card--skills .card__list {
  list-style: none;
}
